.modalErr{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.modaloverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
#closeModal{
    position: absolute;
    top: 5px;
    right: 20px;
    color: gray;
    cursor: pointer;
}
#closeModal:hover{
    color: rgba(0, 0, 0, 0.3);
}
.modal-content.modalWidth{
    margin: 0 auto;
    margin-top: 100px;
    width: 30%;
}